@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
  background: #fafafa;
}
.articlesDiv{
  padding: 0 10% 0 10%;
}
a{
  text-decoration: none;
}
img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  
  .main-header {
    width: 100%;
    position: relative;
  }
  
  .main-nav-container {
    width: 100%;
    background: white;
    position: relative;
    z-index: 1;
  }
  
  .main-nav {
    max-width: 1050px;
    margin: auto;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
  }
  
  .main-nav .logo {
    width: 130px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  
  @media only screen and (max-width: 800px) {
    .first {
      display: none;
    }
  }
  
  .first a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 .7em;
    color: #9698a6;
    font-size: 0.9rem;
    line-height: 70px;
    position: relative;
  }
  
  .first a:hover {
    color: black;
  }
  
  .first a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(95deg, #31d35c, #2bb7da);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  
  .first a:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  @media only screen and (max-width: 800px) {
    .main-nav .cta {
      display: none;
    }
  }
  
  .cta {
    background: linear-gradient(95deg, #31d35c, #2bb7da);
    padding: .71em 2em;
    font-size: 0.8rem;
    border-radius: 300px;
    color: white;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    display: inline-block;
  }
  
  .cta:hover {
    opacity: .7;
  }
  
  .bar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35px;
    cursor: pointer;
  }
  
  .bars {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 3px;
    width: 100%;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 500px;
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    .bars {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }
  }
  
  .bars:nth-of-type(1) {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  
  .bars:nth-of-type(3) {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  
  .mainMenuContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-top: 5.5em;
  }
  
  .mainMenu {
    position: relative;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 150px black;
            box-shadow: 0 15px 150px black;
    padding: 1em 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .mainMenu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .8em 0;
    width: 100%;
    color: black;
  }
  
  .hero {
    width: 100%;
    position: relative;
  }
  
  @media only screen and (max-width: 800px) {
    .hero {
      padding-bottom: 5em;
    }
  }
  
  .hero-center {
    max-width: 1050px;
    margin: auto;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media only screen and (max-width: 800px) {
    .hero-center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      width: 100%;
    }
  }
  
  .hero-center h1 {
    font-size: 3.1rem;
    font-weight: 300;
  }
  
  .hero-center p {
    line-height: 1.5;
    margin: 1.7em 0;
    color: #9698a6;
  }
  
  .hero-left {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media only screen and (max-width: 800px) {
    .hero-left {
      width: 100%;
      text-align: center;
      padding: 1em;
    }
  }
  
  .hero-left h1 {
    text-align: center;
  }
  
  @media only screen and (max-width: 800px) {
    .hero-left h1 {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .hero-left h1 {
      font-size: 2rem;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .hero-left a {
      margin: auto;
    }
  }
  
  .hero-right {
    width: 60%;
    position: relative;
    background: url(/images/bg-intro-desktop.svg);
    background-position: -20px -150px;
    background-size: 48em;
    background-repeat: no-repeat;
    padding-bottom: 30em;
  }
  
  @media only screen and (max-width: 800px) {
    .hero-right {
      width: 100%;
      padding-bottom: 50em;
      margin-left: 0;
      background-position: -110px -275px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .hero-right {
      padding-bottom: 30em;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .hero-right {
      padding-bottom: 20em;
    }
  }
  
  .hero-right img {
    position: absolute;
    top: -80px;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    width: 90%;
  }
  
  @media only screen and (max-width: 800px) {
    .hero-right img {
      -webkit-transform: translatex(0) translateY(-55px);
              transform: translatex(0) translateY(-55px);
      width: 100%;
    }
  }
  
  .whyus {
    width: 100%;
    background: #f3f4f6;
    padding: 6em 0;
  }
  
  .whyus-center {
    max-width: 1050px;
    margin: auto;
    width: 85%;
  }
  
  .whyus-center > h2 {
    font-weight: 400;
    font-size: 2.2rem;
  }
  
  @media only screen and (max-width: 800px) {
    .whyus-center > h2 {
      text-align: center;
    }
  }
  
  .whyus-center > p {
    color: #9698a6;
    max-width: 55%;
    margin: 1.4em 0 5em 0;
    line-height: 1.4;
  }
  
  @media only screen and (max-width: 800px) {
    .whyus-center > p {
      max-width: 100%;
      text-align: center;
    }
  }
  
  .whyus-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media only screen and (max-width: 800px) {
    .whyus-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
  }
  
  .wcbox {
    width: calc(100% / 4);
  }
  
  @media only screen and (max-width: 800px) {
    .wcbox {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }
  }
  
  .wcbox:not(:last-of-type) {
    margin-right: 1em;
  }
  
  .wcbox img {
    width: 55px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  
  .wcbox h3 {
    margin: 1.4em 0;
  }
  
  .wcbox p {
    color: #9698a6;
    line-height: 1.5;
    font-size: 0.95rem;
  }
  
  .latestarticle {
    max-width: 1050px;
    margin: auto;
    width: 85%;
    padding: 5em 0;
  }
  
  .latestarticle h2 {
    font-weight: 400;
    font-size: 2.1rem;
    margin-bottom: 1.5em;
  }
  
  .latestarticle-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media only screen and (max-width: 800px) {
    .latestarticle-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .labox {
    width: calc(100% / 4);
    overflow: hidden;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 800px) {
    .labox {
      width: 100%;
    }
  }
  
  .labox:not(:last-of-type) {
    margin-right: 1em;
  }
  
  .la-img {
    width: 100%;
    height: 200px;
  }
  
  .la-img > img {
    height: 100%;
  }
  
  .la-content {
    padding: 1em 1em 1.5em 1em;
    background: white;
  }
  
  .labox small {
    font-size: 0.75rem;
    color: #9698a6;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 1em 0;
  }
  
  .labox h4 {
    margin-bottom: 0.6em;
    color: black;
  }
  
  .labox h4:hover {
    color: #70e18e;
  }
  
  .labox p {
    color: #9698a6;
    font-size: 0.85rem;
    line-height: 1.4;
  }
  
  footer {
    width: 100%;
    background: #2d314d;
    padding: 3em 0;
  }
  
  .footer-center {
    max-width: 1050px;
    margin: auto;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .footer-center div:first-of-type {
    width: 25%;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div:first-of-type {
      width: 100%;
      text-align: center;
    }
  }
  
  .footer-center div:nth-of-type(2), .footer-center div:nth-of-type(3) {
    width: 18%;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div:nth-of-type(2), .footer-center div:nth-of-type(3) {
      width: 100%;
      text-align: center;
    }
  }
  
  .footer-center .logo svg {
    width: 140px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 3em;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center .logo svg {
      margin-bottom: 0;
    }
  }
  
  .footer-center div > .linkz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div > .linkz {
      margin: 2em 0;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  .footer-center div > .linkz a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div > .linkz a {
      margin: 0 .7em;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  
  .footer-center div > .linkz a:hover {
    color: #70e18e;
  }
  
  .footer-center div > .linkz a:hover svg path {
    fill: currentColor;
  }
  
  .footer-center div > .linkz a:not(:last-of-type) {
    margin-right: .6em;
  }
  
  .footer-center div ul {
    list-style: none;
  }
  
  .footer-center div ul a {
    color: white;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 1em;
    font-size: 0.9rem;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div ul a {
      font-size: 0.87rem;
    }
  }
  
  .footer-center div:nth-of-type(4) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  @media only screen and (max-width: 800px) {
    .footer-center div:nth-of-type(4) {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 1.3em;
    }
  }
  
  .footer-center div:last-of-type p {
    margin-top: 1.5em;
    color: #9698a6;
    font-size: 0.9rem;
  }
  
  .footer-center div ul a:hover {
    color: #70e18e;
  }
  
  .footer-center div:nth-of-type(4) .cta {
    padding: .9em 2.4em;
  }
  
  .dat {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  .card {
    max-width: 300px;
    margin: auto;
    text-align: left;
  }
  
  .title {
    color: hsl(233, 8%, 62%);
    font-size: 15px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .cardsDiv{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-gap: 20px;
  }
  @media screen and (max-width: 1250px){
    .cardDiv{
        grid-template-columns: 4fr 4fr;
    }
}
@media screen and (max-width: 800px){
    .cardsDiv{
        grid-template-columns: 3fr 3fr;
    }
}
@media screen and (max-width: 500px){
    .cardsDiv{
        grid-template-columns: 4fr;
    }
}
.section2{
  background-color: hsl(220, 16%, 96%);
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  margin: auto;
  text-align: left;
}
.titles {
  color: grey;
  font-size: 18px;
  padding-left: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.articlesDiv{
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  grid-gap: 20px;
}
.articleSection{
  background-color: hsl(0, 0%, 98%);
}

@media screen and (max-width: 1250px){
  .articlesDiv{
      grid-template-columns: 4fr 4fr;
      text-align: center;
  }
}
@media screen and (max-width: 800px){
  .articlesDiv{
      grid-template-columns: 3fr 3fr;
      text-align: center;
  }
}
@media screen and (max-width: 500px){
  .articlesDiv{
      grid-template-columns: 4fr;
      text-align: center;
  }
}

/* FOOTER BEGINS HERE!!!!!*/

.main {
	max-height: 550px;;
	background-color: #292c2f;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	position: relative;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

@media screen and (min-width: 648px){
	.footerLogo{
		display: block;
		left: 30% !important;
	}
}
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
	.footerLogo{
		display: block;
		left: 10%;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
